

<body>
    <!-- PRELOADER -->
    <div class="spn_hol">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

 <!-- END PRELOADER -->

 <!-- =========================
     START ABOUT US SECTION
============================== -->
    <section class="header parallax home-parallax page" id="HOME">
        <h2></h2>
        <div class="section_overlay">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- NAV -->
                            <li><a href="#HOME">HOME</a> </li>
                            <li><a href="#ABOUT">ABOUT </a> </li>
                            <li><a href="#FEATURES">FEATURES</a></li>
                            <li><a href="#SCREENS">PREVIEW</a> </li>
                            <li><a href="#DOWNLOAD">EXPERIENCE </a> </li>
                            <li><a href="#CONTACT">CONTACT </a> </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container- -->
            </nav>
            
            

            <div class="container home-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo text-center">
                                <!-- LOGO -->
                                <br><br><br><br>
                            <img src="assets/logo2.png" alt="logo">
                        </div>
                    </div>
                </div>
                
                  <center>
                            <img src="assets/home_font1.png" alt="logo"><br>
                            <img src="assets/home_font2.png" alt="logo"><br>
                            <img src="assets/home_font3.png" alt="logo"><br>
                            <img src="assets/home_font4.png" alt="logo"><br>
                            <img src="assets/home_font5.png" alt="logo">
                            </center>
                            
                <div class="row">
                    <div class="center">
                        <div class="home_text">
                            <!-- TITLE AND DESC -->
                            <h1> </h1>
                            <br>

                            <div class="download-btn">
                            <!-- BUTTON -->
                                <center>
                                <a class="btn home-btn wow fadeInLeft" href="#DOWNLOAD">ABOUT LANG</a>
                                <a class="tuor btn wow fadeInRight" href="#ABOUT">TOUR LANG WEB <i class="fa fa-angle-down"></i></a>
                                </center>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END HEADER SECTION -->




 <!-- =========================
     START ABOUT US SECTION
============================== -->


    <section class="about page" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- ABOUT US SECTION TITLE-->
                    <div class="section_title">
                        <h2>ABOUT LANG </h2>
                        </div>
                </div>

            </div>
        </div>
        <div class="inner_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- PHONE -->
                            <img src="assets/about_iphone.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- TITLE -->
                        <div class="inner_about_title">
                            <h2>INTRODUCE <br> LANG APPLICATION</h2>
                        </div>
                        
                        
                                                   
                            
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- ICON -->
                                <div><i class="pe-7s-comment"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>REAL TIME COMMUNICATION</h3>
                                <img src="assets/black_font.png" alt="font1"><br>

                            </div>
                            <!-- END SINGLE DESC -->


                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                                <!-- ICON -->
                                <div><i class="pe-7s-target"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>ADVANCE GROVAL</h3>
                            <img src="assets/black_font2.png" alt="font2"><br><br><br>
                            </div>
                            <!-- END SINGLE DESC -->


                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
                                <!-- ICON -->
                                <div><i class="pe-7s-stopwatch"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>SHARE DAILY LIFE</h3>
                            <img src="assets/black_font3.png" alt="font3"><br>
                            </div>
                            <!-- END SINGLE DESC -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="video_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInLeftBig">
                    <!-- VIDEO LEFT TITLE -->
                        <div class="video_title">
                            <h2>BEST LANG FILM</h2><br>
                        <img src="assets/introduce.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRightBig">
                         <!-- VIDEO -->
                        <div class="video">
                            <iframe src="https://player.vimeo.com/video/249227719?autoplay=1&loop=5title=0&byline=0&portrait=0" width="560" height="315"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us -->




 <!-- =========================
     START TESTIMONIAL SECTION
============================== -->

    <section id="TESTIMONIAL" class="testimonial parallax">
        <div class="section_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceInDown">
                        <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="1"></li>
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE -->
                                                <img src="asssets/client_1.png" alt="">
                                                <div class="testimonial_caption">
                                                   <!-- DESCRIPTION -->  
                                                    <h2>Jung Ji Hyeon</h2>
                                                    <h4><span>SR. UI Designer,</span> Dcrazed</h4>
                                                    <p>으뱌</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                 <!-- IMAGE -->
                                                <img src="images/client_2.png" alt="">
                                                <div class="testimonial_caption">
                                                <!-- DESCRIPTION --> 
                                                    <h2>Kim Hyeon Woo</h2>
                                                    <h4><span>SR. Content Strategist,</span> Designscrazed</h4>
                                                    <p>으뱌</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE -->
                                                <img src="images/client_3.png" alt="">
                                                <div class="testimonial_caption">
                                                <!-- DESCRIPTION --> 
                                                    <h2>Shin Tae Young</h2>
                                                    <h4><span>DESIGNER,</span> UI DESIGNER</h4>
                                                    <p>으벼</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- END TESTIMONIAL SECTION -->



<!-- =========================
     START FEATURES
============================== -->
    <section id="FEATURES" class="features page">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s">
                        <h2>Features</h2>
                    </div>
                    <!-- END FEATURES SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="feature_inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-like"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>MOIM SERVICE <span>/</span></h3>
                            <p>모임 서비스를 통해 다양하게 <br>사람들과 커뮤니케이션을 <br>할 수 있습니다.</p>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-science"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>LOUNGE SERVICE <span>/</span></h3>
                            <p>라운지 서비스를 통해 <br>자신의 생각과 상태를 친구에게 <br>빠르게 전달 할 수 있습니다.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-look"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>CLEAN DESIGN <span>/</span></h3>
                            <p>울트라 바이올렛 색상을 사용하여 <br> 눈의 안정감을 부여해줍니다. </p>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="assets/iphone06.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-monitor"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Always ready</h3>
                            <p>모바일 스마트폰에서 뿐만 아니라 <br>웹으로도 신청이 가능합니다.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-phone"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span> Responsive WEB&MOBILE</h3>
                            <p>반응형 웹과 스마트폰을 대상으로 <br>언제 어디서든 이용 가능합니다.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-gleam"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span> COMMUNICATION</h3>
                            <p>소통을 중점으로 한 어플리케이션<br>이기 때문에 인간관계에 있어 <br>유용하게 사용됩니다. </p>
                        </div>
                        <!-- END SINGLE FEATURE -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FEATURES SECTION -->



<!-- =========================
     START CALL TO ACTION
============================== -->


<!-- download bar 제거 -->

    <!-- END CALL TO ACTION -->


<!-- =========================
     Start APPS SCREEN SECTION
============================== -->
    <section class="apps_screen page" id="SCREENS">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 wow fadeInBig" data-wow-duration="1s">
                        <!-- APPS SCREEN TITLE -->
                        <div class="section_title">
                            <h2>LANG PREVIEW</h2>
                        </div>
                        <!-- END APPS SCREEN TITLE -->
                    </div>
                </div>
            </div>

        <div class="screen_slider">
            <div id="demo" class="wow bounceInRight" data-wow-duration="1s">
                <div id="owl-demo" class="owl-carousel">

                    <!-- APPS SCREEN IMAGES -->
                    <div class="item">
                    <a href="assets/a1.png" rel="prettyPhoto[pp_gal]"><img src="assets/a1.png" width="60" height="60" alt="APPS SCREEN" /></a>
                    </div>
                    <div class="item">
                        <a href="assets/a2.png" rel="prettyPhoto[pp_gal]"><img src="assets/a2.png" width="60" height="60" alt="APPS SCREEN" /></a>
                    </div>
                    <div class="item">
                        <a href="assets/a3.png" rel="prettyPhoto[pp_gal]"><img src="assets/a3.png" width="60" height="60" alt="APPS SCREEN" /></a>
                    </div>
                    <div class="item">
                        <a href="assets/a4.png" rel="prettyPhoto[pp_gal]"><img src="assets/a4.png" width="60" height="60" alt="APPS SCREEN" /></a>
                    </div>
                    <div class="item">
                        <a href="assets/a5.png" rel="prettyPhoto[pp_gal]"><img src="assets/a5.png" width="60" height="60" alt="APPS SCREEN" /></a>
                    </div>
                    <div class="item">
                        <a href="assets/a6.png" rel="prettyPhoto[pp_gal]"><img src="assets/a6.png" width="60" height="60" alt="APPS SCREEN" /></a>
                    </div>
                    <div class="item">
                        <a href="assets/a7.png" rel="prettyPhoto[pp_gal]"><img src="assets/a7.png" width="60" height="60" alt="APPS SCREEN" /></a>
                    </div>
                    <div class="item">
                        <a href="assets/a8.png" rel="prettyPhoto[pp_gal]"><img src="assets/a8.png" width="60" height="60" alt="APPS SCREEN" /></a>
                    </div>
                    <div class="item">
                        <a href="assets/a9.png" rel="prettyPhoto[pp_gal]"><img src="assets/a9.png" width="60" height="60" alt="APPS SCREEN" /></a>
                    </div>
                    <div class="item">
                        <a href="assets/a10.png" rel="prettyPhoto[pp_gal]"><img src="assets/a10.png" width="60" height="60" alt="APPS SCREEN" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- ENS APPS SCREEN -->





<!-- =========================
     Start FUN FACTS
============================== -->


<!-- 삭제 한 부분 -->

    <!-- END FUN FACTS -->




<!-- =========================
     START DOWNLOAD NOW 
============================== -->
    <section class="download page" id="DOWNLOAD">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- DOWNLOAD NOW SECTION TITLE -->
                    <div class="section_title">
                        <h2>EXPERIENCE NOW</h2>
                    </div>
                    <!--END DOWNLOAD NOW SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="download_screen text-center wow fadeInUp" data-wow-duration="1s">
                        <img src="images/download_screen.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="available_store">
            <div class="container  wow bounceInRight" data-wow-duration="1s">
                <div class="col-md-6">
                    <div class="available_title">
                        <h2>Available on</h2>
                        <p>ANDROID & APPLE & FACEBOOK </p>
                    </div>
                </div>

                <!-- DOWNLOADABLE STORE -->
                <div class="col-md-6">
                    <div class="row">
                        <a href="https://www.apple.com/kr/">
                            <div class="col-md-4 no_padding">
                                <div class="single_store">
                                    <i class="fa fa-apple"></i>
                                    <div class="store_inner">
                                        <h2>iOS</h2>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="col-md-4 no_padding">
                            <a href="https://play.google.com/store/apps?utm_source=apac_med&utm_medium=hasem&utm_content=Oct2517&utm_campaign=Evergreen&pcampaignid=MKT-DR-apac-kr-1003227-med-hasem-ap-Evergreen-Oct2517-Text_Search_BKWS-BKWS%7cONSEM_kwid_43700009359644007_creativeid_102312997265_device_c&gclid=EAIaIQobChMImM3W1Ze72AIVzgorCh2EtA8FEAAYASAAEgLKzfD_BwE&gclsrc=aw.ds&dclid=CJ_6xdaXu9gCFVKSvQod_u8G7g">
                                <div class="single_store">
                                    <i class="fa fa-android"></i>
                                    <div class="store_inner">
                                        <h2>ANDROID</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 no_padding">
                            <a href="https://www.facebook.com/LANG-149754272346444/">
                                <div class="single_store last">
                                    <i class="fa fa-facebook"></i>
                                    <div class="store_inner">
                                        <h2>FACEBOOK</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END DOWNLOADABLE STORE -->
            </div>
        </div>
    </section>
    <!-- END DOWNLOAD -->

<!-- =========================
     START CONTCT FORM AREA
============================== -->
    <section class="contact page" id="CONTACT">
        <div class="section_overlay">
            <div class="container">
                <div class="col-md-10 col-md-offset-1 wow bounceIn">
                    <!-- Start Contact Section Title-->
                    <div class="section_title">
                        <h2>SUBSCRIBE LANG</h2>
                        <p>랭에 대한 궁금한 질문, 앞으로의 랭에 대한 피드백을 보내주세요!</p><br>
                    </div>
                </div>
            </div>

            <div class="contact_form wow bounceIn">
                <div class="container">

                <!-- START ERROR AND SUCCESS MESSAGE -->
                    <div class="form_error text-center">
                        <div class="content_error hide error">빈칸을 입력해주세요.</div>
                        <div class="title_error hide error">제목을 입력해주세요.</div>


                    </div>
                    <div class="Sucess"></div>

                <!-- END ERROR AND SUCCESS MESSAGE -->
                <!-- CONTACT FORM starts here, Go to contact.php and add your email ID, thats it.--> 
                    <form action ="/home/email_send" method="POST">
                        <div class="row">
                            <div class="center">
                                <input type="text" class="form-control" id="email" name="title" placeholder="연락 받으실 이메일을 입력해주세요.">
                            </div>
                            <div class="center">
                                <textarea class="form-control" id="content" name="content" rows="25" cols="10" placeholder="메세지 내용을 입력해주세요."></textarea>
                                <button type="submit" class="btn btn-default submit-btn"> <span>메세지 보내기</span> </button>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM --> 
                </div>
            </div>
            

            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceInLeft">
                        <div class="social_icons">
                            <ul>
                                <li><a href="https://github.com/G4nt1e"><i class="fa fa-github"></i></a>
                                <li><a href="https://www.facebook.com/LANG-149754272346444/"><i class="fa fa-facebook"></i></a>

                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END CONTACT -->

<!-- =========================
     Start Subscription Form 
============================== -->



   
   <!-- 구독 섹션 제거 -->

    <!-- END SUBSCRIPBE FORM -->


<!-- =========================
     FOOTER 
============================== -->

    <section class="copyright">
        <h2></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copy_right_text">
                    <!-- COPYRIGHT TEXT -->
                        <p>Copyright &copy; 2018. All Rights Reserved.</p>        
                        <p>A theme by <a href="https://dcrazed.com/">Dcrazed</a></p>
                        <p>MODIFY CSS, JAVASCRIPT, HTML, RUBY<br>DEV_HAVE</p>
                    </div>
                     
                </div>

                <div class="col-md-6">
                    <div class="scroll_top">
                        <a href="#HOME"><i class="fa fa-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FOOTER -->


<!-- =========================
     SCRIPTS 
============================== -->



</body>
</html>