<section class="about page" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- ABOUT US SECTION TITLE-->
                    <div class="section_title">
                        <h2>MOIM APPLICATION SERVICE </h2>
                        </div>
                </div>

            </div>
        </div>
        <div class="inner_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- PHONE -->
                            <img src="assets/dd.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- TITLE -->
                        <div class="inner_about_title">
                            <h2>LANG'S MOIM SERVICE</h2>
                        </div>
                        
                        
                                                   
                            
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- ICON -->
                                <div><i class="pe-7s-comment"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>REAL TIME COMMUNICATION</h3>
                                <img src="assets/black_font.png" alt="font1"><br>

                            </div>
                            <!-- END SINGLE DESC -->


                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                                <!-- ICON -->
                                <div><i class="pe-7s-target"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>ADVANCE GLOVAL</h3>
                                <p>뭐 입력하징</p><br><br><br>
                            </div>
                            <!-- END SINGLE DESC -->
                            <a class="btn home-btn wow fadeInLeft" href="/">뒤로가기</a>
                            <a class="btn home-btn wow fadeInLeft" href="/moim">모임서비스 이용하기 <strong>BETA</strong></a>




                        </div>
                    </div>
                </div>
            </div>
        </div>
